# SiliconFlow AI 配置
VITE_AI_API_KEY=sk-*************
VITE_AI_API_BASE_URL=https://api.siliconflow.cn/v1



# 金山文档配置
VITE_KDOCS_WEBHOOK_URL=
VITE_KDOCS_TOKEN=
VITE_KDOCS_SHEETID=5

# Coze 工作流配置
VITE_COZE_API_KEY=
VITE_COZE_KDOCS_WORKFLOW_ID=7550481657011421226  # 金山文档操作工作流ID
VITE_COZE_COMPANY_WORKFLOW_ID=7550481844523221034  # 企业信息查询工作流ID

# 金山文档API地址（可选，生产环境使用，开发环境自动使用代理）
# VITE_KDOCS_API_URL=https://env-00jxg9mus2ok.dev-hz.cloudbasefunction.cn/wps-kdocs