# 公众号配置
VITE_APP_ID=
VITE_APP_SECRET=

# SiliconFlow AI 配置
VITE_AI_API_KEY=sk-*************
VITE_AI_API_BASE_URL=https://api.siliconflow.cn/v1



# 金山文档
VITE_KDOCS_WEBHOOK_URL=
VITE_KDOCS_TOKEN=

# 法律顾问的表ID
VITE_KDOCS_SHEETID=5